<div class="row no-gutters">
  <div class="col col-md-3 pad-top">
    <h3 class="center">Gear</h3>
    <div class="gear">        
        {{gear}}
    </div>
  </div>
  <div class="col col-md-3">
    <div [chart]="chartSpeed"></div>
  </div>
  <div class="col col-md-3">
    <div [chart]="chartRpm"></div>
  </div>
  <div class="col col-md-3">
    <div [chart]="engineRpm"></div>
  </div>
</div>
<br>
<button *ngIf="!running" class="btn btn-block btn-success" (click)="start()"> START</button>
<button *ngIf="running" class="btn btn-block btn-danger" (click)="stop()"> STOP</button>